<div class="row">
    <div class="col-3">
        <app-dona title="Ventas" [datos]="venta">
        </app-dona>
    </div>

    <div class="col-3">
        <app-dona title="Productos" [datos]="productos"></app-dona>
    </div>

    <div class="col-3">
        <app-dona title="Categorias" [datos]="categorias"></app-dona>
    </div>

    <div class="col-3">
        <app-dona title="Usuarios" [datos]="usuarios"></app-dona>
    </div>
    
    <div class="col-3">
        <app-dona></app-dona>
    </div>
</div>